@model OrganizationView

<div class="">
    <img src="@Model.ImagePath" alt="image">
    <p>@Model.Id</p>
    <p>@Model.Name</p>
    <p>@Model.Address</p>
    <p>@Model.PhoneNumber</p>
    <p>@Model.Status</p>
</div>