@model LoginUserDto

<h1>SignIn Page</h1>

<form method="post">
  <input hidden="true" asp-for="@Model.ReturnUrl">
  <div class="mb-3">
    <label asp-for="@Model.UserName" class="form-label">UserName</label>
    <input type="text" asp-for="@Model.UserName" class="form-control" placeholder="UserName">
  </div>
  <div class="mb-3">
    <label asp-for="@Model.Password" class="form-label">Password</label>
    <input type="password" asp-for="@Model.Password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">SignIn</button>
</form>

<p>Akkountingiz yo'qmi. <a href="SignUp?ReturnUrl=@Model.ReturnUrl">SignUp</a> o'ting.</p>