@model CreateOrUpdateViewModel

<h1>Create Company</h1>

<form method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <input type="text" asp-for="@Model.Name" class="form-control" placeholder="Name">
  </div>
  <div class="mb-3">
    <input type="text" asp-for="@Model.Address" class="form-control" placeholder="Address">
  </div>
  <div class="mb-3">
    <input type="text" asp-for="@Model.PhoneNumber" class="form-control" placeholder="PhoneNumber">
  </div>
  <div class="mb-3">
    <label asp-for="@Model.Description" class="form-label">Description</label>
    <textarea asp-for="@Model.Description" class="form-control"></textarea>
  </div>
  <div class="mb-3">
    <label asp-for="@Model.Image" class="form-label">Image</label>
    <input type="file" accept="image/*" asp-for="@Model.Image" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>

<style>
  .form-control{
    background-color: whitesmoke;
  }
  .form-control::placeholder{
    color: black;
  }
</style>