@model PostMultipleViewModel

@for(var i =0;  i < Model.Posts.Count(); i++)
{
    var post = Model.Posts[i];
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
            <img class="card-img-top" src=@post.Image alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">@post.Name</h4>
                <p class="card-text">@post.Description</p>
                <p class="card-text">@post.Address</p>
                <p class="card-text">@post.PhoneNumber</p>
                <p class="card-text">@post.CreatedDate</p>
            </div>
        </div>
    </div>
}
