@model JobViewModel

<div class="">
    <img src="@Model.Image" alt="image">
    <p>@Model.Name</p>
    <p>@Model.Description</p>
    <p>@Model.CategoryId</p>
    <p>@Model.PostId</p>
    <span>@Model.CreatedDate</span>
</div>